.idea
.vsconfig

Binaries
Build
DerivedDataCache
Intermediate
Releases
Samples
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

Content/Developers/
Plugins/Developer/
Content/__ExternalActors__/Developers/
Content/__ExternalObjects__/Developers/
